body{
    background-image: url(../../images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container1{
    background-color: $container-color;
    max-width: 450px;
}
.img-fluid{
    width: 180px;
}
.formulary, .paragraph{
    color: white;
}
.btn1{
    color: #257536;
}
.creddits{

}